body {
    background-color: #E5E6E4;
}
#nav_bar{
    background-color: #847577;
    align-content: center;
    padding-top: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li img{
    float: left;
    height: 70px;
    width:100px;
    background-color: #E5E6E4;
}
li a {
    float: right;
    display: inline;
    padding: 8px;
    align-content: center;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}
.mar_item{
    background-color: #00879E;
    color:white;
}
h3
{
    text-align: center;
}
#contact
{
    
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  
}
table, tr, td, th{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    border: solid;

}
#home_main_img{
    max-width: 100%;
    max-height: 100%;
}
#cont_us{
    text-align: center;
}
footer{
    background-color: #A6A2A2;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    bottom: 0;left: 0;
}